# A VIP provided by something external to the cluster such as keepalived.
export K8S_HA_API_VIP="192.168.1.30"
export K3S_SERVER_NODES_IPS=("192.168.1.20" "192.168.1.21")
export K3S_AGENT_NODES_IPS=()
export SSH_KEY_PATH="~/.ssh/ssh-key"
# Cilium is tested with specific Gateway API versions. Validate these choices when upgrading on with Cilium's documentation.
export CILIUM_VERSION="1.19.5"
export GATEWAY_API_VERSION="v1.4.1"
